@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Redacted+Script:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font: inherit;
    font-family: var(--font1);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    /* Colors */
    --bgcolor: black;
    --priColor: #ffba52;
    --secColor: #ff2f00;
    --hightlightColor: #FFC600;
    --fontColor: white;
    --lightShadow: rgba(255, 255, 255, .3);
    --darkShadow: rgba(0, 0, 0, 0.3);

    /* Key Colors */
    --keyboardColor: black;
    --keyColor: rgb(216, 216, 216);
    --keyShadowColor: rgba(0, 0, 0, 0.2);
    --keyTopFontColor: black;
    --keyBotFontColor: black;
    --FunctionKeysColor: #FFC600;

    /* Fonts */
    --font3: "Redacted Script", cursive;
    --font2: "Pacifico", cursive;
    --font1: "Source Code Pro", monospace;
    --normal-fontSize: calc(0.1vw + 2vh);
    --title-fontsize: calc(2vw + 2vh);
}

.dataCol,
.dataRow,
.dataGroup,
.keyControls {
    display: flex;
    gap: 10px;
    border-radius: 8px;
}

.dataCol,
.dataGroup,
.keyControls {
    flex-direction: column;
}

.dataGroup {
    width: 100%;
    border: 1px solid hsl(from var(--lightShadow) h s l / .05);
    padding: 20px;
    direction: ltr;

    h1 {
        font-size: var(--normal-fontSize);
        font-weight: bold;
        border-bottom: 1px solid var(--lightShadow);
        padding-bottom: 10px;
    }

    button {
        padding: 5px;
        height: 25px;
    }
}

input[type="color"],
select,
input[type="text"],
.dataGroup>button {
    width: 100%;
    border: 1px solid hsl(from var(--lightShadow) h s l / .05);
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
}

select,
input[type="text"] {
    padding: 5px;
}

/* Remove the default border and add a custom border */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 8px;
}

/* Change the appearance when hovering over the color input */
input[type="color"]:hover {
    border: 2px solid #ccc;
}

/* Change the appearance when focusing on the color input */
input[type="color"]:focus {
    outline: none;
    border: 2px solid #66afe9;
}

.joinButton,
.createButton {
    background: var(--keyColor);
    font-weight: 600;
    mix-blend-mode: difference;
    color: var(--bgcolor);
}

.createButton {
    background: var(--FunctionKeysColor);
}

section {
    width: 100dvw;
    height: 100dvh;
    background: radial-gradient(circle at bottom, #000000, #000000 10%, transparent 10%, transparent 20%, #000000 20%, #000000 30%, transparent 30%, transparent 40%, #000000 40%, #000000 50%, transparent 50%, transparent 60%, #000000 60%, #000000 70%, transparent 70%, transparent 80%, #000000 80%, #000000 90%, transparent 90%);
    background-size: 3em 3em;
    background-color: #080808;
    opacity: 1;

    nav {
        position: fixed;
        inset: 0;
        width: 350px;
        height: 100dvh;
        padding: 20px 50px 20px 20px;
        background: var(--darkShadow);
        z-index: 1000;
        backdrop-filter: blur(20px);
        overflow-y: scroll;

        border: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        direction: rtl;
        transition: .5s linear;

        .toggleNav {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            aspect-ratio: 1;
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            .menu,
            .menu::before,
            .menu::after {
                width: 80%;
                height: 3px;
                background: var(--FunctionKeysColor);

                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            .menu::before,
            .menu::after {
                content: '';
                position: absolute;
            }

            .menu::before {
                transform: translateY(8px);
            }

            .menu::after {
                transform: translateY(-8px);
            }
        }

        .toggleNav:hover {
            transform: scale(.75);
            cursor: pointer;
        }

        .toggleNav:hover .menu::before {
            width: 50%;
            transform: translateX(-8px) translateY(5px) rotate(45deg);
        }

        .toggleNav:hover .menu::after {
            width: 50%;
            transform: translateX(-8px) translateY(-5px) rotate(-45deg);
        }

        .logo {
            position: absolute;
            bottom: 10px;
            width: 50%;
            filter: invert(1);
            opacity: .03;
            transition: .3s linear, filter 0s ease-in-out;
        }

        .keyControls,
        .gameModes {
            position: relative;
            width: 100%;
            height: 100dvh;
            gap: 0;
            border: 1px solid var(--lightShadow);
        }
    }

    /* width */
    nav::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    nav::-webkit-scrollbar-track {
        background: var(--bgcolor);
    }

    /* Handle */
    nav::-webkit-scrollbar-thumb {
        background: var(--FunctionKeysColor);
    }

    /* Handle on hover */
    nav::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }

    nav.close {
        overflow-y: visible;
        left: -350px;

        .toggleNav {
            right: -40px;
            rotate: 180deg;
        }

        .logo {
            opacity: .1;
            transform: translateX(150%);
            transition: 2s cubic-bezier(0.68, -0.55, 0.265, 1.55), filter 0s ease-in-out;
        }
    }


    .dataArea {
        width: 100dvw;
        position: absolute;
        top: 0;
        padding-top: 8vh;
        flex-direction: column;
        justify-content: space-between;
        gap: 5vh;

        .shikaTypo {
            font-size: calc(var(--normal-fontSize) *2);
            font-family: var(--font2);
            background: -webkit-linear-gradient(45deg, var(--FunctionKeysColor), var(--keyColor));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            span {
                color: var(--keyColor);
                text-shadow: 2px 2px var(--lightShadow);
            }

            animation: 3s spiny linear infinite;
        }

        .typeBox {
            text-align: center;
            width: 75dvw;
            padding-bottom: 10px;

            span {
                font-size: calc(var(--title-fontsize)/1.5);
                font-family: var(--font1);
                color: var(--lightShadow);
                padding: 3px .5px;
            }

            span.right {
                color: var(--hightlightColor);
            }

            span.wrong {
                color: var(--secColor);
            }

            span.current {
                animation: .5s currentblink linear alternate infinite;
            }

            .space.wrong {
                display: inline-flex;
                width: 10px;
                border-bottom: 1px solid var(--secColor);
            }
        }
    }
}

.endScreen {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    background: linear-gradient(180deg,var(--darkShadow),var(--bgcolor));
    backdrop-filter: blur(20px);

    .dataBox {
        width: 50%;
        padding: 20px;
        background: radial-gradient(circle at bottom, #000000, #000000 10%, transparent 10%, transparent 20%, #000000 20%, #000000 30%, transparent 30%, transparent 40%, #000000 40%, #000000 50%, transparent 50%, transparent 60%, #000000 60%, #000000 70%, transparent 70%, transparent 80%, #000000 80%, #000000 90%, transparent 90%);
        background-size: 3em 3em;
        background-color: #080808;    
        border-radius: 20px;
        box-shadow: 0 0 100px var(--bgcolor);
        display: flex;
        flex-direction: column;
        gap: 20px;

        .titleText {
            display: flex;
            gap: 5px;
            flex-direction: column;
            font-size: var(--normal-fontSize);
            letter-spacing: .5em;
            .roastText{
                font-size: calc( var(--title-fontsize) *.8 ) !important;
                font-family: var(--font1);
                font-weight: bold;
                letter-spacing: normal;
            }
        }
        .wpmBox{
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            font-size: calc( var(--title-fontsize) *.4 );
            .wpmCount{
                font-size: calc( var(--title-fontsize) *.5 ) !important;
                font-weight: bold;
            }  
        }

        .statsBox{
            display: flex;
            gap: 10px;
            .stats,.leaderBox{
                width: 50%;
                border: 1px dashed var(--lightShadow);
                padding: 10px;
                border-radius: 10px;
            }
            h1{
                font-size: calc( var(--title-fontsize) *.5 ) !important;
                font-weight: bold;
                border-bottom: 1px dashed var(--lightShadow);
                padding: 0px 10px 10px 10px;
            }
            .stats{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .status{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;
                    padding: 2.5px 10px;
                    border-radius: 10px;
                    transition: .5s linear;

                    span{
                        width: 100%;
                    }
                }
                .status:hover{
                    background: var(--lightShadow);
                    cursor: pointer;
                }
            }
            .leaderBox{

                .leaderBoard{
                    display: flex;
                    flex-direction: column;
                    
                    gap: 10px;
                    padding: 10px;
                    height: 205px;
                    overflow: hidden;
                    .position{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        span{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .actionButtons{
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            button{
                width: 50%;
                background: var(--bgcolor);
                border: 1px solid var(--lightShadow);
                padding: 10px 20px;
                border-radius: 5px;
                font-size: calc( var(--title-fontsize) *.4 ) !important;
                font-weight: bold;
            }
            button:hover{
                background: var(--lightShadow);
                cursor: pointer;
            }
        }
    }
}
.endScreen.close{
    display: none;
}

@keyframes currentblink {
    from {
        border-bottom: 3px solid transparent;
    }

    to {
        border-bottom: 3px solid var(--hightlightColor);
    }
}


/* Mobile devices (Portrait, less than 480px) */
@media (max-width: 480px) {
    .logo {
        width: 100px !important;
    }

    nav {
        padding: 20px 50px !important;
        width: 100dvw !important;
    }

    nav.close {
        left: -100dvw !important;

        .logo {
            transform: translateX(200%) !important;
        }
    }
}

/* Small tablets (Portrait and landscape, 481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    /* Your CSS here */
}

/* Tablets (Portrait and landscape, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Your CSS here */
}

/* Small desktops (1025px to 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
    /* Your CSS here */
}

/* Large desktops (1201px and above) */
@media (min-width: 1201px) {
    /* Your CSS here */
}